---
import {Search} from "@components/Search";
---

<div>
  <!-- <Search client:load /> -->
  <link href="pagefind/pagefind-ui.css" rel="stylesheet" />
  <script is:inline src="pagefind/pagefind-ui.js"></script>
  <div id="search" class="border border-green-800 border-solid">page find</div>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      // @ts-ignore
      new PagefindUI({
        element: "#search",
        showSubResults: false,
        highlightParam: "highlight",
      });
    });
  </script>
</div>
