---
import type {languageType} from "@customTypes/types";
import {LanguagePicker} from "@components/LanguagePicker";

interface Props {
  langInfo: languageType[];
  currentLangCode: string;
}
const {langInfo, currentLangCode} = Astro.props;
---

<div data-pagefind-ignore="all">
  <LanguagePicker client:load />
  <!-- <ul
    class="flex gap-1 py-3 flex-nowrap overflow-x-auto w-[fit-content] max-w-full ml-auto"
  >
    {
      langInfo.map((lang) => {
        return (
          <li>
            <a
              href={
                lang.localizedUrl ||
                `${lang.code == "en" ? "/" : `/${lang.code}`}`
              }
              // #F2F7FD
              class={`font-bold rounded-xl py-2 px-4 ${
                currentLangCode == lang.code && "text-[#015AD9] bg-[#e0eeff] "
              } hover:bg-[#ebf2fa]`}
            >
              {" "}
              {lang.native_name}{" "}
            </a>
          </li>
        );
      })
    }
  </ul> -->
</div>
